.cardTitle{
    font-weight: bolder;
    text-align: center;
    font-size: xx-large;
}

.cardSub{
    font-size: large;
    text-align: center;
}

.content{
    font-weight: bolder;
    text-align: center;
    color: red;
}

.bt{
    margin-left: 5em;
}

.foot{
    background-color: whitesmoke;
    color: black;
}