<ion-header [translucent]="true">
  <ion-toolbar color='dark'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ShopKart.COM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/images/orders.jpg"></ion-img>
  <ion-footer>
    <ion-grid class="foot">
      <ion-row>
        <ion-col>
          <p>HELP</p>
          <P>PAYMENT</P>
          <P>SHIPPING</P>
          <P>RETURN AND CANCELATION</P>
        </ion-col>
        <ion-col>
          <p>Registered Office Address</p>
          <p>ShopKart.COM<br>Ameerpet<br>Hyderabad</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>

</ion-content>
