<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header color="dark"><h3>WELCOME TO ShopKart.com</h3></ion-list-header>
          <ion-note><p>Happy Shopping</p></ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="home">HOME</ion-item>
            <ion-item routerLink="shop-mens">Shop Mens</ion-item>
            <ion-item routerLink="shop-womens">Shop Womens</ion-item>
            <ion-item routerLink="acc">Shop Accessories</ion-item>
            <ion-item routerLink="my-orders">My Orders</ion-item>
            <ion-item>Payments</ion-item>
            <ion-item routerLink="login">Log in</ion-item>
            <ion-item>About</ion-item>
            
          </ion-menu-toggle>
        </ion-list>
        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
