<ion-header [translucent]="true">
  <ion-toolbar color='dark'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ShopKart.COM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card>
   <ion-card-header>
     <ion-card-title>SIGN UP HERE!!!</ion-card-title>
   </ion-card-header>
   <ion-card-content>
     <ion-grid>
       <ion-row>
         <ion-col>
           <ion-item>
             <ion-label position="floating">First Name</ion-label>
             <ion-input></ion-input>
            </ion-item>
         </ion-col>
         <ion-col>
           <ion-item>
             <ion-label position="floating">Last Name</ion-label>
             <ion-input></ion-input>
           </ion-item>
         </ion-col>
       </ion-row>
       <ion-row>
         <ion-item>
           <ion-label position="floating">Email ID</ion-label>
           <ion-input type="email"></ion-input>
         </ion-item>
       </ion-row>
       <ion-row>
         <ion-col>
           <ion-item>
             <ion-label position="floating">Password</ion-label>
             <ion-input type="password"></ion-input>
           </ion-item>
         </ion-col>
       </ion-row>
       <ion-row>
         <ion-col>
           <ion-item>
             <ion-label position="floating">Confirm Password</ion-label>
             <ion-input type="password"></ion-input>
           </ion-item>
         </ion-col>
       </ion-row>
       <ion-row>
         <ion-col>
             <ion-button>REGISTER</ion-button>
         </ion-col>
       </ion-row>
     </ion-grid>
     <p>If you already have an account <a routerLink="/login">click here</a></p>
   </ion-card-content>
 </ion-card>
</ion-content>

<ion-footer>
  <ion-grid class="foot">
    <ion-row>
      <ion-col>
        <p>HELP</p>
        <P>PAYMENT</P>
        <P>SHIPPING</P>
        <P>RETURN AND CANCELATION</P>
      </ion-col>
      <ion-col>
        <p>Registered Office Address</p>
        <p>ShopKart.COM<br>Ameerpet<br>Hyderabad</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
